* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(167, 167, 167); 
  height: 400px;

}
#container nav{
  display: block;

}
#navbar{
  display: flex;
 justify-content: center;
 padding: 1rem;
}



/*#navbar ul li{
  align-items: center;
}

#navbar ul li a{
  padding: 30px;
  margin: 30px 30px;
color: black;
text-decoration: none;
  
}

.nav1{
  display: flex;
  list-style-type: none;
  display: flex;
  flex-direction: row;
   justify-content: space-evenly;
}
 
.img1{
  display: flex;
 
  width: 600px;
  height: 400px;
  margin: 0px;
}

.showcase{
  display: grid;
  
}*/
.cntainer {
  background-color: #976250;
}

.firstRow {
  display: flex;
  background-color: rgba(199, 199, 199, 0.5);
}

.imgContainer,
.firstRowRightcontainer {
  width: 50%;
}

.img1 {
  display: block;
  width: 100%;
  height: 100%;
}


.HoverDropDown {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0%;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}

.imgContainer:hover .HoverDropDown {
  top: 0;
  height: 100%;
}

.text {
  color: #000000;
  font-size: larger;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#navbar {

  width: 100%;
  padding-left: 60px;
}

#navbar2 li a {
  color: rgb(139, 138, 138);
  list-style-type: none;
  text-decoration: none;
}

#navbar2 li a:hover {
  color: #e67c6f;

}

.nav1 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  list-style-type: none;
}

ul li {
  padding: 0.5rem;
  margin: 1rem;
}

.p1 {
  margin: 3rem;
  font-weight: 100;
  color: #707070;
}

.p2 {
  font: weight 300px;
  ;
  font-size: x-large;
  padding-left: 3rem;

}

.lorem {
  color: #707070;
  padding-left: 3rem;
  font-weight: 50;

}

.showcase {
  padding: 1rem;
}

#stimulus {
  font-weight: bolder;

}

.Firstbottun a {
  text-decoration: none;
  color: black;
}

.Firstbottun:hover {
  background-color: #413f3f;
  color: white;
}


.Firstbottun {
  background-color: #c4c4c4;
  border-radius: 40px;

  background-color: rgba(199, 199, 199, 0.5);
  margin-top: 55px;
  margin-left: 4rem;
  margin-bottom: 45px;
  padding: 11px 40px;
}

.Firstlink {
  border: 2px solid rgb(59, 59, 59);
}

.Firstlink:link,
.Firstlink:visited {
  margin-left: 3rem;
  margin-top: 20px;
  padding: 10px 10px;
  /*چرا بردر نمیگیره*/
  border: 5px solid;
  border-radius: 50px;
  background-color: #a3a3a3;
  border: #707070;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Firstlink:hover {
  background-color: #333131;
  color: black;
}

.SecondRow {
  display: flex;
  flex-direction: row;


}

.Icon {
  width: 50px;
  height: 50px;
}

.h3 {
  padding-top: 20px;
}

p {
  padding-top: 20px;
  position: relative;
  left: 5px;
  top: 5px;
}

#box {
  display: flex;
  padding: 3rem;
  margin: 0px;
  width: 25%;
  align-items: center;
  flex-direction: column;
}


.Firstbox {
  display: flex;
  background-color: #e6b346;
  padding: 1rem;
  color: white;
  flex-direction: column;
  margin: 0px;
  align-items: center;
  width: 25%;
  text-align: center;
}

.Secondbox {
  background-color: #f1611e;
  width: 25%;
  color: white;
  text-align: center;
}

.Thirdbox {
  background-color: black;
  width: 25%;
  color: white;
  text-align: center;
}

.Fourthbox {
  background-color: aliceblue;
  width: 25%;
  color: black;
  text-align: center;
}


.ThirdRow {
  display: flex;
  background-color: #f1611e;
  height: 500px;
}

.imgContainer,
.SecondRowRightcontainer,
.imgContainer2 {
  width: 50%;
  
}


.img2 {
  width: 100%;
  height: 100%;
}

.SecondRowRightcontainer2 {
  margin-left: 22px;
}


.p3 {
  padding-left: 60px;
  padding-top: 20px;
  color: white;
}

.exp1 {
  padding-left: 60px;
  padding-top: 30px;
  font-size: 30px;
  color: white;
}




.exp {
  color: white;
  font-size: 30px;
}

.icon2 {
  position: relative;
  right: 5px;
  left: -45px;
  bottom: 5px;
  top: 40px;
  margin-right: 10px;
  width: 32px;
  height: 36px;
  color: white;

}

.graph {
  margin-left: 71px;
  padding-top: 14px;

}

/*.date1{
 position: relative;
 right: 5px;
 top: -44px;
 bottom: 5px;
 left: 246px;


}*/

.FirstRowLeftcontainer {
  background-color: #f1611e;
  width: 50%;

}

.Fourthrow {
  display: flex;
}

.imgcontainer3,
.FirstRowLeftcontainer {
  width: 50%;
  
}

.imgresponsive{
  width: 100%;
  height: 214px;
}

.img3 {
  width: 100%;
  height: 100%;
}

.FifthRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 470px;
  BACKGROUND-COLOR: #000;
  position: relative;

}

.FifthRow::before {
  content: "";
  background-image: url(../img/setting-up-limited-company-2-1024x718.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.6;

}

.icon5 {
  position: relative;
  color: white;
  text-align: center;
}

.icon5 {
  position: relative;
  left: 506px;
  right: 50px;
  top: 50px;
  width: 133px;
  height: 200px;
  /*چظوری با فلکس جا به جاش کنم*/

}

.p45 {
  text-align: center;

}

.p4 {
  justify-content: center;
  position: relative;
  font-size: large;
  font-weight: bolder;
  top: -100px;
  font-weight: 200;
  font-size: larger;
}

.p5 {
  position: relative;
  top: -102px;
  padding: 20px 20px;
  margin: 20px;
  margin: 20px;
}

.p45 {
  padding: 20px;
  margin-top: 100px;
}

.SixthRow {
  background-color: #f1611e;
  display: flex;
}

.input {
  width: 50%;
}

.Text {
  margin: 20px;

}

.Inputcontainer {
  margin: 8px;
  padding: 20px;
}

.Input1 {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.InputItem1 {
  margin-bottom: 20px;
  background-color: #f1611e;
  border-width: 100%;
  border-top: #f1611e;
  border-right: #f1611e;
  border-left: #f1611e;
  border-bottom: 2px solid #c4c4c4;
  width: 100%;
}

.InputItem1:focus {
  outline: none;
}

.FormGroup {
  height: 20px;
}


.textarea {
  background-color: #f1611e;
  border-top: #f1611e;
  border-right: #f1611e;
  border-left: #f1611e;
  border-bottom: 2px solid #c4c4c4;
  width: 100%;
}

.textarea:focus {
  outline: none;
}

.Container2 {
  display: flex;
  width: 50%;

}

.Imgcontainer4 {
  position: relative;
  width: 50%;
  height: 82%;
}

.img4 {
  width: 100%;
  height: 100%;
}
 
.BlackBoxContainer{
  width: 50%;
  height: 82%;
}

.BlackBox {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.Button {
  position: relative;
  bottom: -13px;
  border-radius: 20px;
  background-color: white;
  color: black;
  width: 163px;
  height: 33px;
  border: none;
  cursor: pointer;
}

.sventhRow{
  display: flex;
}
.footer{
  background-color: black;
  width: 87%;
  height: 164px;
}
.HorizontalBlackBoX{
  width: 100%;
  height: 100%;
  text-align: center;
}
.HorizontalimgContainer{
  width: 407px;
  height: 164px;
  
}

.Horizontalimg{
  width: 100%;
  height: 100%;
}

.h1res{
  font-size: 18px;
  color: aliceblue;
}



@media (max-width: 1106px) { 
  
  .imgContainer  {
    display: none;
  }

  .firstRowRightcontainer {
    width: 100%;
  }
 }

 @media (max-width: 991.98px){
  .SecondRow{
    display: grid;
  }

  #box{
    width: 100%;
  }
 
  .icon5{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 53px;

  }
 
  .p45{
    margin-top: 479px;
  }
  .nav1{
    display: block;
    margin-right: 76px;
  }

  .p1{
    margin-left: 50px;
  }

  .showcase{
    margin-top: -36px;
  }

  .Fourthrow{
    display: grid;
  }

  .imgcontainer3, .FirstRowLeftcontainer{
    width: 100%;
    margin-top: -4px;
  }

  .imgContainer2{
    display: none;
  }

  .img2{
    display: none;
  }
 .imgcontainer3{
  display: none;
   }
 }

 @media (min-width:991.98px) {
  
   .responsiveimg{
    display: none;
  }
}
   
  @media (max-width: 991.98px) {
   .SixthRow{
    display: grid;
   }
   .Imgcontainer4, .BlackBoxContainer{
    display: none;
   }
  
   .input {
    width: 100%;
}
/*.SecondRowRightcontainer2 {
  margin-left: 308px;

  }*/

  /*.SecondRowRight{
    margin-left: 308px;
  }*/
  }
  @media (min-width: 991.98px) {
.sventhRow{
  display: none;
}
  }